.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;

  .about-logo {
    width: 100%;
    height: auto;

  }

  // .about-description {
  //   width: 100%;
  //   padding: 7px;
  // }
}