.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .homepage-logo {
    height: 360px;
    width: 360px;
    margin-top: 90px;
    animation: rotation 20s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}