.container {
  display: flex;
  justify-content: space-between;

  .left-navbar {
    display: flex;
    flex-direction: row;
  }

  .logo {
    width: 40px;
  }

  .right-navbar {
    display: flex;
  }
}