.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1rem;
  // gap: 2rem;
  // background-color: #333;
  background-color: #002e82;
  // background-color: bisque;
  color: white;

  .left-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
      height: 80px;
      width: 80px;
      padding-top: 8px;
    }

    .logo:hover {
      animation: rotation 10s infinite linear;
    }
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }

    .logo-text {
      font-size: 40px;
    }
  }

  .right-navbar {
    display: flex;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      gap: 1rem;
    }

    // li.active {
    //   background-color: #555;
    // }

    li:hover {
      // background-color: #777;
      background-color: white;
      font-weight: bold;
    }

    a {
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0.75rem;
    }

    a:visited {
      color: white;
    }

    a:hover {
      color: black;
    }
  }
}